<div class="Carts-container-second">
  <div class="Carts-container-second-detail">
    <div class="Carts-container-second-detail-top">
      <div class="Carts-container-top-first">
        <input type="checkbox" id="Carts-checkbox-all" class="shopping-cart-checkbox"/>
        <span class="Cart-product-title-top">Product</span>
      </div>
      <div class="Carts-container-top-second">
        <span class="Cart-product-price-top">Price</span>
      </div>
      <div class="Carts-container-top-third">
        <span class="Cart-product-number-top">The number of product</span>
      </div>
      <div class="Carts-container-top-fourth">
        <span class="Cart-product-total-top">Total</span>
        <span class="Cart-product-delete-top">Delete</span>
      </div>
    </div>
    <div id="showcart" class="Carts-container-second-detail-middle" *ngFor="let item of carts">

      <div class="Carts-container-second-detail-middle-first">
        <input type="checkbox" (change)="onCheckBoxChange($event, item)"/>
        <div>
          <img src="{{item.product.thumb}}" alt="" class="Cart-product-img">
          <p class="Cart-product-title">{{item.product.product_name}}</p>
        </div>
      </div>
      <div class="Carts-container-second-detail-middle-second">
        <span class="Cart-product-price">{{item.product.price}}</span>
      </div>
      <div class="Carts-container-second-detail-middle-third">
        <div class="Cart-product-number">
          <button class="Cart-product-number-minus">-</button>
          <input type="text" class="Cart-product-number-input" value="{{item.quantity}}" readonly>
          <button class="Cart-product-number-plus" >+</button>
        </div>
      </div>
      <div class="Carts-container-second-detail-middle-fourth">
        <span class="Cart-product-total">{{item.product.price}}</span>
      </div>
      <span class="Cart-product-delete">
        <mat-icon class="Cart-product-delete-icon">delete</mat-icon>
      </span>
    </div>
  </div>
</div>
<button (click)="onOrderButtonClick()">
  Đặt hàng
</button>

