.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.d-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 800px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.categories-container {
    position: relative;
    border: #f4bdbd solid 0.2px;
}

.category-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.category-name {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(101, 3, 3, 0.5);
    color: #fff;
    text-decoration: none;
}

.category-name p {
    text-align: center;
    text-decoration: none;
}

.testimonial {
    margin-top: 30px;
}

.row-defined {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.col-lg-6 {
    width: 45%;
    max-width: 50%;
    position: relative;
    padding: 20px;
}

.testimonial__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.444);
}

.testimonial__pic {
    height: 100%;
    width: 100%;
}

.testimonial__pic img {
    height: 100%;
    width: 100%;
}
